*.nav
*.snm
*.vrb
*.aux
*.glo
*.idx
*.log
*.loa
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.fdb_latexmk
*.xml
*.pdf
*.fls
*.bcf
*.pyg
*.backup
*.bak
.directory
paper.tex
chapters/*.tex.bak
_minted-tesina/
